<div class="container">
  <form [formGroup]="blogAddForm">
    <div style="margin-bottom: 10px">
      <div class="row">
        <div class="col-md-2" *ngFor="let category of categories">
          <div class="card">
            <div class="card-body" style="background-color: rgb(100, 152, 221);">
              <div style="text-align: center;">{{ category.categoryName }}</div>
              <div style="text-align: center;">{{ category.id }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-label">
      <input
        type="text"
        formControlName="categoryId"
        class="form-control"
        placeholder="Category ID"
      />
    </div>
    <div class="form-label">
      <span class="input-group-text"> Title </span>
      <textarea
        style="height: 85px"
        class="form-control"
        formControlName="blogTitle"
        aria-label="With textarea"
      ></textarea>
    </div>

    <div class="form-label">
      <span class="input-group-text">Content</span>
      <textarea
        style="height: 195px"
        class="form-control"
        formControlName="blogContent"
        aria-label="With textarea"
      ></textarea>
    </div>

    <button
      style="background-color: #586181"
      class="w-100 btn btn-lg btn-primary"
      type="submit"
      (click)="addBlog()"
    >
      Save Blog
    </button>
  </form>
</div>
