<!DOCTYPE html>
<html lang="tr">
  <body style="max-height: 100%" class="page-top">
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav
          style="height: 45rem"
          class="sb-sidenav accordion sb-sidenav-dark responsive"
          id="sidenavAccordion"
        >
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">CONTROLS</div>
              <a class="nav-link" routerLink="/admin">
                <div class="sb-nav-link-icon">
                  <i class="fa-solid fa-chart-line"></i>
                </div>
                Dashboard
              </a>
              <a class="nav-link" routerLink="blogs">
                <div class="sb-nav-link-icon">
                  <i class="fa-solid fa-file-lines"></i>
                </div>
                Blogs
              </a>
              <a class="nav-link" routerLink="users">
                <div class="sb-nav-link-icon">
                  <i class="fa-solid fa-users"></i>
                </div>
                Users
              </a>
              <a class="nav-link" routerLink="/admin/customer/customerList">
                <div class="sb-nav-link-icon">
                  <i class="fa-solid fa-bars"></i>
                </div>
                Categories
              </a>
              <a
                class="nav-link collapsed"
                routerLink="/dashbosrd"
                data-toggle="collapse"
                data-target="#collapsePersonel"
                aria-expanded="false"
                aria-controls="collapsePersonel"
              >
                <div class="sb-nav-link-icon">
                  <i class="fas fa-user-friends"></i>
                </div>
                Yetkilendirme İşlemleri
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div
                class="panel-collapse collapse"
                id="collapsePersonel"
                aria-labelledby="headingOne"
                data-parent="#sidenavAccordion"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" routerLink="/admin/dashbosrd"
                    >Claim İşlemleri
                  </a>
                  <a class="nav-link" routerLink="/admin/dashbosrd"
                    >Yetki Atama</a
                  >
                </nav>
              </div>
            </div>
          </div>
          <div class="sb-sidenav-footer">
            <div class="small"></div>
            Blog App
          </div>
        </nav>
      </div>
    </div>
  </body>
</html>
