<div class="container">
  <div class="text text-dark text-center">
    <h4>STATISTICS</h4>
  </div>
  <br />
  <div class="row" style="font-family: system-ui">
    <div class="card mb-4" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">BLOGS</h5>
        <h6 class="card-subtitle mb-2 text-muted">Total Blog Amount</h6>
        <p class="card-text">The amount of blog is <br /><h4 class="text-center">{{ blogAmount }}</h4>
        <a routerLink="blogs" class="card-link text-center">Go to blogs</a>
      </div>
    </div>

    <div class="card mb-4" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">CATEGORİES</h5>
        <h6 class="card-subtitle mb-2 text-muted">Total Category Amount</h6>
        <p class="card-text">
          The amount of category <br /><h4 class="text-center">{{ categoryAmount }}</h4>
        <a href="#" class="card-link text-center">Go to categories</a>
      </div>
    </div>

    <div class="card mb-4" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">USERS</h5>
        <h6 class="card-subtitle mb-2 text-muted">Amount of Users </h6>
        <p class="card-text">The amount of user <br /><h4 class="text-center">{{userAmount}}</h4>
        <a href="#" class="card-link text-center">Go to users</a>
      </div>
    </div>

    <div class="card mb-4" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card</p>
        <a href="#" class="card-link text-center">Go to users</a>
      </div>
    </div>
  </div>
</div>
