<div style="margin-left: 390px; margin-bottom: 15px">
    <button
      style="margin-left: 10px"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addCategoryModal"
    >
      <i class="bi bi-plus-square"></i> Add Claim
    </button>
  </div>
  <div
    class="modal fade"
    id="addCategoryModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Claim</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="claimAddForm">
            <label for="recipient-name" class="col-form-label">Claim Name:</label>
          <input type="text" class="form-control" id="recipient-name" formControlName="claimName">
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button (click)="addClaim()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Claim Name</th>
        <th>Delete Claim</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of claims">
        <th scope="row">1</th>
        <td>{{ claim.id }}</td>
        <td>{{ claim.name }}</td>
        <td>
          <button class="btn btn-danger mx-1" (click)="deleteClaim(claim)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  