<router-outlet></router-outlet>

<!--
  tagların listelenmesi
-->

<!-- yeni eklemeler (kısa vade)
    --backend file işlemleri update
    --admin sidebar için dropdown kullanımı
    --blog taglarının deatil componente gösterilmesi
    --kategorilerin listelenmesi ve kategoriye göre filtreleme
    --tagların dropdown şeklinde listelenmesi (yapılması mantıklı mı?)
    --login ve register ekranları tasarım güncellencek
-->

<!-- like butonu için 2. butona basıldığında delete edicek,1.  butona basıldığında yeni ekleme yapılacak -->