<router-outlet></router-outlet>

<!--
    Sorulacaklar
    --mashthead de image gösterimi
    --ayrı bir module içinde pipe kullanımı
    --behaviour subject çalışırken image id'sinin undefined olması (*ngIf ile kontrol)
    --behaviour subject de gelen değerleri atama işlemi
    --searchbar için filtre (backend tarafında) ([FromQuery] ile) (datatable kullanılsın mı)
    --kullanıcı için içerik ekranı (yazılan blogları ekleme silme update etme), haritalandırma (ayrı bir module oluşturulsun mu)
-->

<!-- yeni eklemeler (kısa vade)
    --comment işlemleri
    --admin sidebar için dropdown kullanımı
    --blog taglarının deatil componente gösterilmesi
    --kategorilerin listelenmesi ve kategoriye göre filtreleme
    --tagların dropdown şeklinde listelenmesi (yapılması mantıklı mı?)
    --login ve register ekranları tasarım güncellencek
-->

<!-- yeni eklemeler (uzun vade)
  --yetkilendirme işlemlerinin otomotize hale getirilmesi (hem back-end hem de front-end tarafında)
-->


<!--
   taskList for now
  --show delete and update button if currentUser is equal to blog.userId
  --update login and register page
  --create admin guard
  -->