
  <router-outlet></router-outlet>



<!--
    Sorulacaklar
    --spesific bir html tagını genel css 'den soyutlama
    --searhbar için filtre (backend tarafında) ([FromQuery] ile) 
    --kullanıcı için içerik ekranı (yazılan blogları ekleme silme update etme), haritalandırma (ayrı bir module oluşturulsun mu)
-->

<!-- yeni eklemeler (kısa vade)
    --icon ekleme
    --blog taglarının deatil componente gösterilmesi
    --kategorilerin listelenmesi ve kategoriye göre filtreleme
    --tagların dropdown şeklinde listelenmesi (yapılması mantıklı mı?)
    -login ve register ekranları tasarım güncellencek
  -->

<!-- yeni eklemeler (uzun vade)
  
  --admin paneli
  
  -->
