<div class="container" style="width: 100%;">
  <table
  >
    <thead>
      <tr>
        <th>User Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>email</th>
        <th>Status</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>
          {{ user.lastName }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>{{ user.status }}</td>

        <td>
          <button class="btn btn-danger mx-1" (click)="delete(user)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
